---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Amaan Khan - Home">
  <h1>Welcome</h1>
  <p>I'm a masters student studying cybersecurity engineering at Washington University in St. Louis.</p>

  <h2>Recent Posts</h2>
  <ul>
    <li><a href="/blog/first-post">My First Post</a></li>
  </ul>
</BaseLayout>